body{
    font-family: sans-serif;
    color: whitesmoke;
    
}
/*stylin for boxes*/
.main-box {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
  
  .main-box > h2, .box {
    margin: 10px;
    padding: 5px;
  }
  
  .box {
    background: gray;
  }
  
  .box > h2, p {
    margin: 4px;
    font-size: 90%;
  }
/*stylin for navbar*/
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color:aquamarine;
    

}

li a{
    float: left;
    display: block;
    text-align: center;
    padding: 15px 30px;
    color:black;
    text-decoration:none;
    font-style: inherit;
    
}
 li a:hover:not(.active){
    background-color: rgb(127, 255, 176);

 }
.active {
    background-color: rgb(217, 255, 127);
}

/*styling  for image*/
img {
    width: 135px;
    border-radius: 67px;
    float: left;
    margin-right: 67px;


}

 
  .whitetext{
    background-color: white;
  }
 .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
 } 

 /*styling for footer*/
 footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(127, 255, 176);
    color: white;
  }