body{
    font-family: sans-serif;
    
}
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color:aquamarine;
    

}

li a{
    float: left;
    display: block;
    text-align: center;
    padding: 15px 30px;
    color:black;
    text-decoration:none;
    font-style: inherit;
    
}
 li a:hover:not(.active){
    background-color: rgb(127, 255, 176);

 }
.active {
    background-color: rgb(253, 255, 127);
}


img {
    width: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 50px;


}

 
  .whitetext{
    background-color: white;
  }
  
  #pm {
    width: 350px;
    border: 15px solid rgb(0, 81, 128);
    padding: 50px;
    margin: 20px; 
    font-family:  sans-serif; 
  }
 

 footer{
float: inline-end;
    
    }
  
  